<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-03-28T13:08:51Z</date>
	<key>WorkspacePath</key>
	<string>/Users/rickie/Documents/centennial/MAPD724/Group5_MAPD724_assignment4/Group5_MAPD724_assignment4.xcodeproj</string>
</dict>
</plist>
